table {
    width: 100%;
  }

  ::ng-deep{
    .mat-select-value-text, .mat-select-arrow{
        display: none;
    }

    div.mat-form-field-infix {
        width: 24px;
        display: flex;
    }
    .mat-form-field-underline{
        display: none;
    }
}
    .play-arrow{
        font-size: 16px;
    }

    .last-column{
        text-align: end;
    }

    tr.example-detail-row {
        height: 0;
      }
      
      tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
      }
      
      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }
      
      .example-element-row td {
        border-bottom-width: 0;
      }
      
      .example-element-detail {
        overflow: hidden;
        display: flex;
      }
      
      .example-element-diagram {
        min-width: 80px;
        border: 2px solid black;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 104px;
      }
      
      .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
      }
      
      .example-element-description {
        padding: 16px;
      }
      
      .example-element-description-attribution {
        opacity: 0.5;
      }

